

.main {
    display: flex;
    background-color: blanchedalmond;

}

.calculator {
    border: 4px solid black;
    margin: 50px auto;
    width: 400px;
    height: 600px;
    padding: 15px;
    position: relative;
    background-color: white;
}

.display-box {
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px 20px;
    /* margin: 10px 8px 20px 3px; */
    height: 20%;
    width: inherit;
    text-align:right;
    margin-bottom: 40px;
    font-size: 20px;
    background-color: blanchedalmond;

}

.current-display {
    display: block;
    height: 50%;
}

.displayed-digit {
    display: block;
    height: 50%;
}


.button-container {
    /* border: 2px solid red; */
    box-sizing: border-box;
    display: grid;
    grid: repeat(5,1fr) / repeat(4,1fr);
    height: 72.5%;
    width: inherit;
    margin-bottom: 20px;

    /* position: absolute; 
    bottom: 0; */
}

button {
    border: 1px solid black;
    font-size: 18px;
}

.btn-operator, #equal-sign {
    /* background-color: rgb(94, 209, 155); */
    background-color: rgb(144, 148, 148);

}

.btn-operator:hover, #equal-sign:hover,#delete:hover, #decimal:hover {
    background-color: rgb(184, 181, 181);
}

.btn .btn-digit {
    margin: 3px 3px 3px 3px;
}

#delete, #decimal {
    background-color: rgb(144, 148, 148);
}
.btn-digit {
    background-color: rgb(69, 189, 219);
}
.btn-digit:hover {
    background-color: rgb(26, 124, 148);
}

#zero, #AC {
    grid-column: span 2;
}

#AC {
    background-color: rgb(224, 92, 92);
}
#AC:hover {
    background-color: rgb(218, 132, 132);
}
#decimal {
    font-size: 28px;
}